html {
    font-family: sans-serif;
  }
  .cool-box{
   width: 200px;
   height: 100px;
   text-align: center;
   line-height: 100px;
  }
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0; /* Light background for contrast */
    margin: 0;
}
  

  
  
  /* Your CSS below here */